<html>
	<head></head>
	<body>

		<h1>New Menu Item</h1>

		<form action="#" method = 'post'>
			<dl>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='name'></dd><br>
				<dt>Description:</dt>
					<dd><textarea name = 'description' rows='5' cols='40' > </textarea></dd><br>
				<dt>Price:</dt>
					<dd><input type = 'text' size = '8' name='price'></dd><br>
				<dt>Course:</dt>
					<dd><input type ='radio' name='course' value='Appetizer'>Appetizer</dd>
					<dd><input type ='radio' name='course' value='Entree'>Entree</dd>
					<dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
					<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
			</dl>

			<input type='submit' value='Create'>

		</form>
	</body>
</html>